/*.bar {
  overflow: hidden;
  background-color: #333;
}

.bar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.bar a:hover {
  background-color: #ddd;
  color: black;
}

.bar a.active {
  background-color: #4CAF50;
  color: white;
}

.bar .icon {
  display: none;
}*/

.child1{
	border: 2px solid #ddd;
	padding: 1%;
	margin: 1%;
	width: 30%;
	font-size: 22px;
	text-align: center;
	border-radius: 10%;
}

.child2{
	border: 2px solid #ddd;
	padding: 1%;
	margin: 1%;
	width: 65%;
	font-size: 22px;
	border-radius: 10%;
}

.parent{
	display: flex;
	flex-direction: row;
	border: 2px solid #ddd;
	padding: 1%;
	margin: 1%;
}
img{
	width: 80%;
	border: 2px solid black;
	border-radius: 50%;
	align-items: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 3px 4px 5px red;
}

@media only screen and (min-width: 320px) and (max-width:480px){
.child1{
	border: 2px solid #ddd;
	padding: 1%;
	margin: 1%;
	width: 94%;
	font-size: 22px;
	text-align: center;
	border-radius: 10%;
	background-color: skyblue;
}

.child2{
	border: 2px solid #ddd;
	padding: 1%;
	margin: 1%;
	width: 90%;
	font-size: 22px;
	border-radius: 10%;
	background-color: skyblue;
}

.parent{
	display: flex;
	flex-direction: column;
	border: 2px solid #ddd;
	padding: 1%;
	margin: 1%;
}
img{
	width: 80%;
	border: 2px solid black;
	border-radius: 50%;
	align-items: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 3px 4px 5px red;
}

}

@media only screen and (min-width: 481px) and (max-width:768px){
.child1{
	border: 2px solid #ddd;
	padding: 1%;
	margin: 1%;
	width: 94%;
	font-size: 22px;
	text-align: center;
	border-radius: 10%;
	background-color:lightgreen;
}

.child2{
	border: 2px solid #ddd;
	padding: 1%;
	margin: 1%;
	width: 90%;
	font-size: 22px;
	border-radius: 10%;
	background-color: skyblue;
}

.parent{
	display: flex;
	flex-direction: column;
	border: 2px solid #ddd;
	padding: 1%;
	margin: 1%;
}
img{
	width: 80%;
	border: 2px solid black;
	border-radius: 50%;
	align-items: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 3px 4px 5px red;
}

}
